<!DOCTYPE html>
<html>
  <head>
    <title>Expensae</title>
    <link rel="shortcut icon" type="image/x-icon" href="icon.ico" />
    <link rel="stylesheet" href="login-success.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="container-icon">
        <span class="material-icons"> done </span>
      </div>
      <h1>Login success</h1>
      <p>You can now close this page</p>
      <p>Click the button bellow return to the application</p>
      <a href="<%= deeplink %>">
        <button class="button-app">
          <span class="material-icons"> arrow_right </span>
        </button>
      </a>
      <div class="line"></div>
    </div>
  </body>
</html>
