{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "printWidth": 100,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "tabWidth": 2
}
